.navigation {
  height: 70px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;

  .logo-container {
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    display: flex;
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
